@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", serif;
}

/* shard style  */

.flex-display {
    display: flex;
}

.font-shard {
    font-size: 2.1rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.subtittle {
    color: rgba(255, 255, 255, 0.5);

    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    padding: 1rem 2.5rem;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 1.8rem;
    color: white;
}


/* header section  */

.header-container {
    /* margin: 0 150px; */
    padding: 0 150px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    height: 100%;
    border: 2px solid tomato;
}

.Fitness-container {
    align-items: center;
    /* margin: 0 auto; */
    justify-content: space-between;
    gap: 0.8rem;
}

.Fitness-container2 {
    max-width: 599px;

    max-height: 440px;
}

.fitness-tittle {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
}

.stcar {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid red;
    padding:1rem;
    color:white;
    font-size: 1rem;
  
}
.stcar1{
    top: 11.25rem ;
    right: 5rem;
}
.stcar2{
    bottom:180px;
    right:450px;
}





/* nav style */

nav {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    gap: 2.5rem;
}

.nav-item>li>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;

}